p
{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size:x-large;
color:black;
text-align: center;

}
span{
    font-weight: bold;
}
.myClass
{
    font-weight: bold;
    color:rgb(238, 85, 111);
}
